# Node
node_modules/

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Environment
.env

# Build / cache
dist/
build/
.cache/

# Logs and temp
npm-debug.log*
*.log
*.tmp
*.bak
*.swp

# Other
.vscode/
coverage/
